<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyy.dao.decoration.DecorationDataSourceMapper">

    <resultMap id="BaseResultMap" type="com.cyy.model.decoration.DecorationDataSource">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="data" jdbcType="VARCHAR" property="data" />
    </resultMap>

    <sql id="base_column">
        id,`name`,`data`
    </sql>

    <select id="find" parameterType="com.cyy.model.decoration.DecorationDataSource" resultMap="BaseResultMap">
        SELECT  <include refid="base_column" /> FROM decoration_data_source
        WHERE  1=1
        <if test="id != null and id > 0">
            AND id = #{id}
        </if>
    </select>

    <insert id="save" parameterType="com.cyy.model.decoration.DecorationDataSource">
        INSERT INTO decoration_data_source (`name`,`data`) values(#{name},#{data})
    </insert>

    <update id="update" parameterType="com.cyy.model.decoration.DecorationDataSource">
        UPDATE decoration_data_source
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="data != null">
                `data` = #{data},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>